#body-img{
    width:500px;
    height:500px;
}
html{
    font-family: 'Ubuntu','sans-serif';
}
body{
    margin: 0px;
}
#body-img{
    margin:6em 4% 0 4%;
}
form{
    margin:0 4% 1% 4%;
}
#description{
    margin:1% 4% 5em 4%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
   
}
footer{
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom:0;
}
footer>#foot-det{
    align-self: flex-end;
    font-size: 10px;
}
#foot-detlink{
    color:black;
    text-decoration: none;
}
#det-link{
    margin-right: 1%;
    color: black;
    text-decoration: none;
}
